* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
}

body{
    color: yellow;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("/img/bgforest.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 30%;
    background-position-x: center;
}

header{
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

header ul{
    text-align: right;
}

header li{
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    display: inline;
}

header a, header a:visited{
    padding:auto;
    text-decoration: none;
    color: #001eff;     
}

header a:hover, header a:focus{
    color: #0055ff;
    text-decoration:underline;
    background-color: #00000015;
}

h1{
    text-align: center;
    margin: 5% auto;
}

.contact {
    display: flex;
    justify-content:center;
    gap:30px;
    flex-shrink: 1;
}

.form{
    text-align: center;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.152);
    max-width: 320px;
    padding: 10px 20px;
    margin: auto auto;
}

button{
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: #2b2929;
    color: yellow;
    font-size: 1rem;
    padding: 5px;
}

img{
    border-radius: 15px;
}

span{
    padding: 0.5rem;
    background-color: #00000015;
}

input {
    font-size: 1rem;
    padding: 5px;
}

textarea {
    margin-top: 10px;
    font-size: 1rem;
    padding: 5px;
    max-width: 270px;
    max-height: 140px;
}